@using Vidly.Models
@model Vidly.Models.Movie
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@(((Movie)ViewData["movie"]).Name) Using ViewData</h2>
<h2>@(((Movie)ViewBag.Movie).Name) using ViewBag</h2>
<h2>@Model.Name using Model</h2>
