@model Vidly.Models.Customer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <hr />
        <div>
            @Html.DisplayFor(model => model.Name)
        </div>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
